<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:semantilzer="http://typo3.org/ns/Zeroseven/Semantilizer/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.header_layout} != 100">
	<f:if condition="{data.header} || {data.subheader} || {data.date}">
		<f:spaceless>
			<header>
				<semantilzer:headline class="ce__header{f:if(condition:data.header_layout, then:'--{data.header_layout}')}" edit="tt_content:{data.uid}:header_type" type="{data.header_type}">
					<f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink>
				</semantilzer:headline>

				<semantilzer:headline class="ce__subheader" content="{data.subheader}"/>

				<f:render partial="Header/Date" arguments="{date: data.date}" />
			</header>
		</f:spaceless>
	</f:if>
</f:if>
</html>
