/node_modules
.php_cs.cache
/.build/
/.phpunit.cache/
/.php-cs-fixer.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/Resources/Private/JavaScript/Backend/TYPO3
.ddev/.dbimageBuild/
.ddev/.webimageBuild/
.ddev/.ddev-docker-compose-*.yaml
