<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:semantilizer="http://typo3.org/ns/Zeroseven/Semantilizer/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Widget/Widget"/>

<f:section name="title">
	{f:translate(key: 'widget.title', default: configuration.title, extensionName: 'z7_semantilizer')}
</f:section>

<f:section name="main">
	<f:spaceless>
		<div class="semantilizer-widget--check-headings">
			<f:if condition="{errors}">
				<f:then>
					<div class="widget-table-wrapper">
						<table class="widget-table">
							<f:for each="{errors}" as="error">
								<tr>
									<td>
										{semantilizer:flag(sysLanguageUid: error.page.sysLanguageUid)}
										<a class="semantilizer-widget__pagelink" href="{be:moduleLink(route: 'web_layout', query: 'id={f:if(condition:error.page.l10nParent, then:error.page.l10nParent, else: error.page.uid)}&SET[language]={error.page.sysLanguageUid}')}">{error.page.title}:</a>

										<small>
											<f:for each="{error.notifications}" as="notification">
												<br/>
												{f:translate(key:'notification.{notification.key}.title', extensionName: 'z7_semantilizer')}
												<f:if condition="{notification.fixLink}">
													<a href="{notification.fixLink}">
														[{f:translate(key:'notification.fixIt', extensionName: 'z7_semantilizer')}]
													</a>
												</f:if>
											</f:for>
										</small>
									</td>
								</tr>
							</f:for>
						</table>
					</div>
				</f:then>
				<f:else>
					<div class="semantilizer-widget__congratulation">
						{core:icon(identifier: 'actions-check', size: 'large')}
						<p>{f:translate(key: 'widget.congratulation', extensionName: 'z7_semantilizer')}</p>
					</div>
				</f:else>
			</f:if>
		</div>
	</f:spaceless>
</f:section>

</html>
