$overview-pattern-width: 48px;
$overview-pattern-height: 24px;
$overview-pattern-color: #888;
$overview-pattern-stroke: 2px;
$overview-background-color: #fff;
$overview-select-width: 36px;

.semantilizer__listwrap {
    position: relative;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 #{strip-unit($overview-pattern-width)} #{strip-unit($overview-pattern-height)}' xmlns='http://www.w3.org/2000/svg' width='#{strip-unit($overview-pattern-width)}' height='#{strip-unit($overview-pattern-height)}'%3E%3Cline x1='#{strip-unit($overview-pattern-stroke) * 0.5}' y1='#{strip-unit($overview-pattern-height) * 0.5 + strip-unit($overview-pattern-stroke) * 0.5}' x2='#{strip-unit($overview-pattern-width) - strip-unit($overview-pattern-stroke) * 0.5}' y2='#{strip-unit($overview-pattern-height) * 0.5 + strip-unit($overview-pattern-stroke) * 0.5}' stroke-linecap='round' stroke-width='#{strip-unit($overview-pattern-stroke)}' stroke-dasharray='0,6' stroke='%23888' /%3E%3Cline x1='#{strip-unit($overview-pattern-stroke) * 0.5}' y1='1' x2='#{strip-unit($overview-pattern-stroke) * 0.5}' y2='#{strip-unit($overview-pattern-height)}' stroke-linecap='round' stroke-width='#{strip-unit($overview-pattern-stroke)}' stroke-dasharray='0,6' stroke='%23888' /%3E%3C/svg%3E%0A") repeat top left $overview-background-color;
    border-style: solid;
    border-color: $overview-background-color;
    border-width: 1em 1em 2em 3em;

    // This will fake a border
    outline: 1px solid rgba($overview-pattern-color, 0.5);
    margin: 1px 1px 2em 1px;
}

.semantilizer__list {
    padding: 0;
    list-style: none;
    position: relative;

    // Eliminate the line on the bottom
    margin: 0 0 math.div($overview-pattern-height, - 2) + $overview-pattern-stroke;
}

.semantilizer__overlay {
    position: absolute;
    top: -1em;
    right: -1em;
    bottom: -2em;
    left: -3em;
    background: rgba(#fff, 0.7);
    backdrop-filter: blur(2px);
}

.semantilizer__overlay-message {
    position: inherit;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%) translateY(-50%);
}

%semantilizer__item {
    display: block;
    margin: 0;
    padding: 0 1em 0 0;
    line-height: $overview-pattern-height;
    height: $overview-pattern-height;
    background: $overview-background-color;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@for $i from 1 through 6 {
    .semantilizer__item--level#{$i} {
        @extend %semantilizer__item;

        margin-left: $overview-pattern-width * ($i - 1) + math.div($overview-select-width, - 2);
    }
}

.semantilizer__select {

    // Remove the arrows https://stackoverflow.com/a/32623650
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &::-ms-expand {
        display: none;
    }

    display: inline-block;
    border: none;
    border-radius: 2px;
    margin: 0 $overview-pattern-width - $overview-select-width 0 0;
    padding: 0 0 0 0.3em;
    text-align: left;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    width: $overview-select-width;
    background: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23fff' d='M11 7H5l3-4zM5 9h6l-3 4z'/%3E%3C/svg%3E") no-repeat center right $overview-pattern-color;

    &:focus {
        outline: 0;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: no-drop;
        background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cellipse cx='8' cy='8' rx='2' ry='3' stroke='%23fff' stroke-width='2' fill='none' /%3E%3Crect x='4' y='8' width='8' height='5' fill='%23fff' /%3E%3C/svg%3E");
    }
}

.semantilizer__headline {
    text-decoration: none;
}

.semantilizer__headline--error {
    text-decoration: underline dotted red;

    &:hover {
        text-decoration: underline solid red;
    }
}
