$overview-pattern-width: 30px;
$overview-pattern-height: 24px;
$overview-pattern-color: #888;
$overview-pattern-dot-size: 6px;
$overview-background-color: #fff;

.semantilzer__listwrap {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 #{strip-unit($overview-pattern-width)} #{strip-unit($overview-pattern-height)}' xmlns='http://www.w3.org/2000/svg' width='#{strip-unit($overview-pattern-width)}' height='#{strip-unit($overview-pattern-height)}'%3E%3Cline x1='0' y1='12' x2='#{strip-unit($overview-pattern-width)}' y2='12' stroke-linecap='round' stroke-width='2' stroke-dasharray='0,6' stroke='#{str-replace(quote($overview-pattern-color), '#', '%23')}' /%3E%3Cline x1='6' y1='0' x2='6' y2='#{strip-unit($overview-pattern-height)}' stroke-linecap='round' stroke-width='2' stroke-dasharray='0,6' stroke='#{str-replace(quote($overview-pattern-color), '#', '%23')}' /%3E%3C/svg%3E%0A") repeat top left $overview-background-color;
    border-style: solid;
    border-color: $overview-background-color;
    border-width: 1em;

    // This will fake a border
    outline: 1px solid rgba($overview-pattern-color, 0.5);
    margin: 1px 1px 2em 1px;
}

.semantilzer__list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

%semantilzer__item {
    display: block;
    margin: 0;
    padding: 0 1em 0 $overview-pattern-dot-size + 10px;
    line-height: $overview-pattern-height;
    height: $overview-pattern-height;
    background: $overview-background-color;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:before {
        content: '';
        width: $overview-pattern-dot-size;
        height: $overview-pattern-dot-size;
        position: absolute;
        left: 0;
        top: 50%;
        border-radius: $overview-pattern-dot-size / 2;
        margin-top: $overview-pattern-dot-size / - 2;
        background: $overview-pattern-color;
        box-shadow: 0 0 0 8px $overview-background-color;
        z-index: 1;
    }
}

@for $i from 1 through 6 {
    .semantilzer__item--h#{$i} {
        @extend %semantilzer__item;
        margin-left: $overview-pattern-width * ($i - 1) + $overview-pattern-dot-size / 2;
    }
}

.semantilzer__link {
    text-decoration: none;
}

.semantilzer__link--error {
    text-decoration: underline dotted red;

    &:hover {
        text-decoration: underline solid red;
    }
}
