<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:semantilizer="http://typo3.org/ns/Zeroseven/Semantilizer/ViewHelpers" data-namespace-typo3-fluid="true">

	<semantilizer:infobox
		disableIcon="{f:if(condition:validationEnabled, then:0, else:1)}"
		iconColor="{f:if(condition:'{validationEnabled} && {notifications -> f:count()} == 0', then:states.ok, else:states.warning)}"
		iconName="{f:if(condition:notifications, then:'exclamation', else:'check')}"
		title="{f:translate(key:'overview.title', extensionName: 'z7_semantilizer')}">

		<div class="semantilzer">
			<f:if condition="{contentElements}">
				<f:then>
					<p>{f:translate(key:'overview.description', extensionName: 'z7_semantilizer')}</p>
				</f:then>
				<f:else>
					<p>{f:translate(key:'overview.empty', extensionName: 'z7_semantilizer')}</p>
				</f:else>
			</f:if>

			<div class="semantilzer__listwrap">
				<ul class="semantilzer__list">
					<f:for each="{contentElements}" as="contentElement">
						<f:if condition="{contentElement.header_type}">
							<li class="semantilzer__item--h{contentElement.header_type}">
								<a href="{contentElement.editLink}" class="semantilzer__link{f:if(condition:'{validationEnabled} && {contentElement.error}', then:'--error')}">{contentElement.header}</a>

								<f:if condition="{contentElement.moveUpLink}">
									<f:then>
										<a href="{contentElement.moveUpLink}"><</a>
									</f:then>
									<f:else>
										<span><</span>
									</f:else>
								</f:if>

								<f:if condition="{contentElement.moveDownLink}">
									<f:then>
										<a href="{contentElement.moveDownLink}">></a>
									</f:then>
									<f:else>
										<span>></span>
									</f:else>
								</f:if>

							</li>
						</f:if>
					</f:for>
				</ul>
			</div>

			<div class="semantilzer__control">
				<f:if condition="{validationEnabled}">
					<f:then>
						<a class="btn btn-default btn-sm" href="{toggleValidationLink}">
							{f:translate(key:'overview.disableValidation', extensionName: 'z7_semantilizer')}
						</a>
					</f:then>
					<f:else>
						<f:if condition="{notifications}">
							<f:then>
								<a class="btn btn-warning btn-sm" href="{toggleValidationLink}">
									{f:translate(key:'overview.enableValidation', extensionName: 'z7_semantilizer')}
									<f:if condition="{notifications -> f:count()} > 1">
										<f:then>({f:translate(key:'overview.problems', extensionName: 'z7_semantilizer', arguments: '{0:"{notifications -> f:count()}"}')})</f:then>
										<f:else>({f:translate(key:'overview.problem', extensionName: 'z7_semantilizer', arguments: '{0:"{notifications -> f:count()}"}')})</f:else>
									</f:if>
								</a>
							</f:then>
							<f:else>
								<a class="btn btn-info btn-sm" href="{toggleValidationLink}">
									{f:translate(key:'overview.enableValidation', extensionName: 'z7_semantilizer')}
								</a>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>
		</div>
	</semantilizer:infobox>
</html>
