<f:be.infobox title="Headline Strucure" state="{state.notice}">

	<ul class="headings">
		 <f:for each="{contentElements}" as="contentElement">
			<f:if condition="{contentElement.header_type}">
				<li class="headings__item--type{contentElement.header_type}">
					<a href="{contentElement.editLink}">
						{contentElement.header}
					</a>

					<f:if condition="{contentElement.moveUpLink}">
						<f:then>
							<a href="{contentElement.moveUpLink}"><</a>
						</f:then>
						<f:else>
							<span><</span>
						</f:else>
					</f:if>

					<f:if condition="{contentElement.moveDownLink}">
						<f:then>
							<a href="{contentElement.moveDownLink}">></a>
						</f:then>
						<f:else>
							<span>></span>
						</f:else>
					</f:if>

				</li>
			</f:if>
		</f:for>
	</ul>

	<style>
		.headings {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.headings__item--type1,
		.headings__item--type2,
		.headings__item--type3,
		.headings__item--type4,
		.headings__item--type5,
		.headings__item--type6 {
			display: block;
			margin: 0;
			padding: 0;
		}

		.headings__item--type1:before {
			content: '--';
		}
		.headings__item--type2:before {
			content: '----';
		}
		.headings__item--type3:before {
			content: '------';
		}
	</style>

</f:be.infobox>
